<h1>SpeakTok</h1>
<h2>Just talk, and we'll create a beautiful AI-generated TikTok from what you said.</h2>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="myfile" />
  <br><br>
  <input type="submit" value="Submit">
</form>

{% if video_url %}
<video width="320" height="240" controls>
  <source src="{{ video_url }}" type="video/mp4">
</video>
{% else  %}
  <p>Result will appear here. Takes about 3x the length of the video.</p>
{% endif %}
